---
AWSTemplateFormatVersion: 2010-09-09
Description: test-ec2 deployment template
Resources:
  EC2ServerLaunchTemplate:
    Type: 'AWS::EC2::LaunchTemplate'
    Properties:
      LaunchTemplateName: !Sub ${AWS::StackName}-LaunchTemplate
      LaunchTemplateData:
        KeyName: {{ key_pair }}
        IamInstanceProfile:
          Name: {{ iam_profile }}
        DisableApiTermination: false
        ImageId: {{ ami_id }}
        InstanceType: {{ instance_type }}
        SecurityGroupIds:
          - !ImportValue
            'Fn::Sub': 'test-sg-stack-SecurityGroupID'
        MetadataOptions:
          HttpPutResponseHopLimit: 2
          HttpTokens: required
          InstanceMetadataTags: enabled
        BlockDeviceMappings:
          - DeviceName: "/dev/sda1"
            Ebs:
              DeleteOnTermination: "true"
              Encrypted: "true"
              VolumeSize: "30"
              VolumeType: "gp3"
        Monitoring:
          Enabled: true
        # Some of these tags are mandatory and deployment will fail without them
        TagSpecifications:
          - ResourceType: instance
            Tags:
              - Key: Name
                Value: !Sub '${AWS::StackName}-EC2'
              - Key: ApplicationID
                Value: {{ applicationid }}
              - Key: Environment
                Value: {{ account_type }}
              - Key: Platform
                Value: linux
              - Key: CostCentre
                Value: {{ costcentre }}
              - Key: Owner
                Value: {{ owner }}
              - Key: PowerMgt
                Value: {{ power_mgt }}
              - Key: Snapshot
                Value: snapw
              - Key: PatchCycle
                Value: {{ account_type }}
              - Key: PatchGroup
                Value: {{ account_type }}
              - Key: AppCategory
                Value: {{ appcat }}
              - Key: SupportGroup
                Value: {{ support_group }}
              - Key: DataClassification
                Value: {{ data_classification }}
          # Some of these tags are mandatory and deployment will fail without them
          - ResourceType: volume
            Tags:
              - Key: Name
                Value: !Sub ${AWS::StackName}-instance
              - Key: ApplicationID
                Value: {{ applicationid }}
              - Key: Environment
                Value: {{ account_type }}
              - Key: Platform
                Value: linux
              - Key: CostCentre
                Value: {{ costcentre }}
              - Key: Owner
                Value: {{ owner }}
              - Key: PowerMgt
                Value: {{ power_mgt }}
              - Key: Snapshot
                Value: snapw
              - Key: PatchCycle
                Value: {{ account_type }}
              - Key: PatchGroup
                Value: {{ account_type }}
              - Key: AppCategory
                Value: {{ appcat }}
              - Key: SupportGroup
                Value: {{ support_group }}
              - Key: DataClassification
                Value: {{ data_classification }}
        UserData: !Base64
          'Fn::Join':
            - ''
            - - '#!/bin/bash -xe'
              - |+

              - >-
              - exec >> /var/log/user-data.log
              - |+

              - >-
              - exec 2>&1
              - |+

              - >-
              - echo BEGIN
              - |+

              - >-
              - date '+%Y-%m-%d %H:%M:%S'
              - |+

              - >-
              - sudo su
              - |+

              - >-
              - 'export no_proxy=$no_proxy,s3.ap-southeast-2.amazonaws.com'
              - |+

              - >-
              - COMMON_USER_DATA=
              - common_user_data_script.sh
              - |+

              - APP_USER_DATA=
              - app_user_data_script.sh
              - |+

              - mkdir -p /staging_area
              - |+

              - chmod 1777 /staging_area
              - |+

  EC2ServerEC2:
    Type: AWS::EC2::Instance
    Properties:
      SubnetId: '{{ app_subnet_1 }}'
      LaunchTemplate:
        LaunchTemplateId: !Ref EC2ServerLaunchTemplate
        Version: !GetAtt EC2ServerLaunchTemplate.LatestVersionNumber
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-EC2'
        - Key: Owner
          Value: {{ owner }}
        - Key: CostCentre
          Value: {{ costcentre }}
        - Key: ApplicationID
          Value: {{ applicationid }}
        - Key: Environment
          Value: {{ account_type }}
        - Key: AppCategory
          Value: {{ appcat }}
        - Key: SupportGroup
          Value: {{ support_group }}
        - Key: PowerMgt
          Value: {{ power_mgt }}
        - Key: Platform
          Value: linux
        - Key: DataClassification
          Value: {{ data_classification }}

Outputs:
  EC2ServerEC2IP:
    Description: EC2ServerEC2IP
    Value: !GetAtt EC2ServerEC2.PrivateIp
    Export:
      Name: !Sub "${AWS::StackName}-EC2ServerEC2IP"

  EC2ServerEC2ID:
    Description: EC2ServerEC2ID
    Value: !GetAtt EC2ServerEC2.InstanceId
    Export:
      Name: !Sub "${AWS::StackName}-EC2ServerEC2ID"
...
