name: Python Lint

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  lint-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install linting tools
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Run flake8
        run: |
          # show statistics and exit with error code on issues
          flake8 . --count --statistics
